extends layout
block head
	title DataHarvest
block content
	.content
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/threejs/r76/three.min.js')

		section#hero.pos-relative.img-clip.height-100.unpad.parallax(data-overlay="2")
			.orb-container
				script(src="/js-extra/orbZilla.js")
			.background-image-holder
				//-.slider(data-arrows='false', data-paging='false')
					ul.slides
						for image in contentful.Home[0].headerBackgrounds
							li.unpad.imagebg.parallax
				img(src="#{asset(contentful.home[0].header)}")

			img#intro-logo(src="#{asset(contentful.home[0].logo)}")

		if contentful.home[0].featuredText != undefined
			section.bg--lightgray
				.container
					.row.text-center
						.col-sm-12
							h1= contentful.home[0].featuredText.fields.subhead
							p= contentful.home[0].featuredText.fields.description
						.col-sm-12
							if contentful.home[0].featuredText.fields.externalLink
								a.btn(href="#{contentful.home[0].featuredText.fields.url}" target="_blank" rel="noopener") 
									span Read More
							else
								a.btn(href="#{contentful.home[0].featuredText.fields.url}") 
									span Read More
							
		if contentful.home[0].skills.length > 0
			section
				.container
					.row.text-center
						for item in contentful.home[0].skills
							.col-sm-4
								.radial(data-value='100', data-timing='1000', data-color='#9fbaa7', data-size='200', data-bar-width='10')
									span.h3.radial__label
										i.fa(class="#{item.fields.icon}")
								h4= item.fields.title
								p= item.fields.description
		if contentful.home[0].featuredStory != undefined
			section.bg--green
				.container
					.row.text-center
						.col-sm-8.col-sm-offset-2
							h3.color--white= contentful.home[0].featuredStory.fields.subhead
							p.color--white= contentful.home[0].featuredStory.fields.description
							if contentful.home[0].featuredStory.fields.externalLink
								a.btn.btn--lightgray(href="#{contentful.home[0].featuredStory.fields.url}" rel="noopener" target="_blank")
									span Read the story
							else
								a.btn.btn--lightgray(href="#{contentful.home[0].featuredStory.fields.url}")
									span Read the story
		if contentful.home[0].news.length > 0
			section
				.container
					.row.text-center
						.col-sm-12
							h4.
								BLOCKCHAIN NEWS
					.masonry
						.masonry__container
							for item in contentful.home[0].news
								.masonry__item.col-sm-4.col-xs-6
									if item.fields.externalLink || item.fields.externalLink == undefined
										a(href="#{item.fields.url}" target="_blank" rel="noopener")
											img(src="#{asset(item.fields.image)}")
											h5.unmarg= item.fields.title
											hr
											p= item.fields.description
											a.btn(href="#{item.fields.url}" target="_blank" rel="noopener")
												span Read More
									else	
										a(href="#{item.fields.url}")
											img(src="#{asset(item.fields.image)}")
											h5.unmarg= item.fields.title
											hr
											p= item.fields.description
											a.btn(href="#{item.fields.url}")
												span Read More
								
					
		
		section.bg--gray
			.container
				.row.text-center
					.col-sm-12
						h2.color--white.
							We'd love to hear from you
				.row
					.col-sm-8.col-sm-offset-2
						form#contact-form.form-email.custom-script(data-error="Please fill out all fields correctly", name='contact', netlify-honeypot="bot-field", action='/thankyou', netlify)
							.col-sm-12.hidden
								label.color--white don't fill this out:
								input(type='text', name='bot-field')
							.col-sm-6
								label.color--white Name
								input.validate-required(type='text', name='name')
							.col-sm-6
								label.color--white Email
								input.validate-required.validate-email(type='text', name='email')
							.col-sm-12
								label.color--white Message
								textarea.validate-required(type='text', name='message')
							.float-right(style="padding-right:15px;")
								button.btn.btn--green-lightgray(type='submit' style="position:relative;z-index:9;")
									span Send
